---
layout: cover
title: Hi!
---

{% assign social = site.data.social %}

<div class="intro">
  <h1>Andreas Philippi</h1>
  <p>I am a mobile &amp; web application developer and UX enthusiast, currently based in Umeå, Sweden. I help mobilizing enterprises @<a href="https://www.dataone.de" target="_blank">Data One</a> and learn to design for people @<a href="https://www.umu.se/en/education/master/masters-programme-in-human-computer-interaction-and-social-media/" target="_blank">Umeå Universitet</a>. Glad to have you here!</p>
</div>

<div class="links">
  <div class="columns">
    {% for item in site.data.social %}
    {% assign item_data = item[1] %}
    <div class="link">
      <a class="{{ item[0] }}-link"
        href="{{ item_data.url }}"
        target="{% if item_data.url | slice: 0 != '/' %}_blank{% endif %}">
        <h2 class="tagline">{{ item_data.tagline }}</h2>
        <p class="name">{{ item_data.name }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
