// ================================================================================================
//  Cover
// ================================================================================================

.cover
{
	display: table;
	height: 100%;
	width: 100%;
}

.cover-wrapper 
{
	display: table-cell;
	vertical-align: middle;
}

.cover-content
{
	margin: auto;
	padding: $spacing-sm;
	text-align: center;
}

.landing
{	
  border-width: $landing-border-width 0 0 0;
  border-style: solid;
  border-color: $color-primary;

	.cover-content
	{
		max-width: $cover-content-width;
	}
}