// -----------------------------------------------------------------------------------------------
//  Landing page
// -----------------------------------------------------------------------------------------------

.bio-text
{
  h1
  {
    margin-top: 0;
  }

  .buttons
  {
    margin-bottom: 0;
  }

  .info
  {
    margin-bottom: 0;
  }
}


// -----------------------------------------------------------------------------------------------
//  Page elements
// -----------------------------------------------------------------------------------------------

.buttons
{
  list-style-type: none;
  margin: $spacing-sm 0;
  padding: 0;

  li
  {
    display: inline;
    margin: 0 1.0rem 0 0;
  }

  a
  {
    color: $color-base;
    transition: $transition;

    &:hover
    {
      color: $color-secondary;
    }
  }

  @media (min-width: $screen-sm-min)
  {
    margin-top: $spacing-md;
    margin-bottom: $spacing-md;
  }
}

[class^="icon-"]:before, [class*=" icon-"]:before
{
  font-size: $icon-font-size;
}
