// -----------------------------------------------------------------------------------------------
//  Landing page
// -----------------------------------------------------------------------------------------------

.bio-text
{
  color: $gray-color;

  h1
  {
    margin-top: 0;
  }

  .buttons
  {
    margin-bottom: 0;
  }

  .info
  {
    margin-bottom: 0;
  }
}


// -----------------------------------------------------------------------------------------------
//  Page elements
// -----------------------------------------------------------------------------------------------

.buttons
{
  list-style-type: none;
  margin: $unit-7 0;
  padding: 0;

  li
  {
    display: inline;
    margin: 0 $unit-3 0 0;
  }

  a
  {
    color: $gray-color;
    transition: $transition;

    &:hover
    {
      color: $secondary-color;
    }
  }

  @media (min-width: $size-lg)
  {
    margin-top: $unit-10;
    margin-bottom: $unit-10;
  }
}
