// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

.container
{
  padding-left: $layout-spacing-lg;
  padding-right: $layout-spacing-lg;
}

.columns
{
  margin-left: -$layout-spacing-lg;
  margin-right: -$layout-spacing-lg;
}

.info
{
  background-color: $bg-color;
  border-radius: 0.2rem;
  font-size: $font-size-sm;
  padding: $unit-3;
  text-align: center;
}


// -----------------------------------------------------------------------------
// Full-screen centering
// -----------------------------------------------------------------------------

.cover
{
  display: table;
  height: 100%;
  width: 100%;
}

.cover-content-wrapper
{
  display: table-cell;
  padding: $unit-10 $unit-4;
  vertical-align: middle;
}

.cover-content
{
  max-width: 35.0rem;
  margin: auto;
}
