// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

.info
{
  background-color: $bg-color;
  border-radius: 0.2rem;
  font-size: $font-size-sm;
  padding: ($unit-7 / 2);
  text-align: center;
}


// -----------------------------------------------------------------------------
// Full-screen centering
// -----------------------------------------------------------------------------

.cover
{
  display: table;
  height: 100%;
  width: 100%;
}

.cover-content-wrapper
{
  display: table-cell;
  padding: $unit-10;
  vertical-align: middle;

  @media (min-width: $size-lg)
  {
    padding: $unit-16;
  }
}

.cover-content
{
  max-width: 30.0rem;
  margin: auto;
}
