// -----------------------------------------------------------------------------
// Alternating color schemes
// -----------------------------------------------------------------------------

@mixin rainbow($color)
{
  h1:after
  {
    border-bottom-color: $color;
  }

  a:hover
  {
    color: $color;
  }

  .icon-circle:hover
  {
    background-color: $color;
    border-color: $color;
  }
}

.sun
{
  @include rainbow($color-primary);
}

.dawn
{
  @include rainbow($dawn-primary);
}

.grass
{
  @include rainbow($grass-primary);
}

.sky
{
  @include rainbow($sky-primary);
}
