// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

h1
{
  color: $secondary-color;
  font-size: $font-size-lg;
  font-weight: 600;
  margin: $unit-7 0 $unit-10 0;
  position: relative;
  text-transform: uppercase;
}

a
{
  text-decoration: none;
  transition: color $transition;

  &:hover
  {
    text-decoration: none;
  }
}
