// -----------------------------------------------------------------------------------------------
//  Variables
// -----------------------------------------------------------------------------------------------

$assets: '/assets';
$baseurl: '';
$font-size-base: 1.6rem;
$icon-circle-size: ($font-size-base + 1.5rem);
$icon-font-size: ($font-size-base + 0.1rem);
$screen-sm-min: 768px;
$spacing-lg: 8.0rem;
$spacing-md: 4.0rem;
$spacing-sm: 3.0rem;
$transition: 0.3s ease-in-out;

// Colors
$color-background: #ffffff;
$color-base: #9EA7B0;
$color-primary: #ffc42e;
$color-secondary: #293a4d;
