// ================================================================================================
// Variables
// ================================================================================================

$assets: '/assets';
$baseurl: '';
$color-base: lighten(#4c4c4c, 40%);
$color-primary: #f2625b;
$color-secondary: #4c4c4c;
$cover-content-width: 50.0rem;
$font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$font-size-base: 1.6rem;
$font-size-h1: 4.0rem;
$icon-circle-size: ($font-size-base + 1.5rem);
$icon-font-size: ($font-size-base + 0.1rem);
$landing-border-width: 0.5rem;
$line-height-base: 1.6;
$profile-pic-size: 8.0rem;
$screen-sm-min: 768px;
$spacing-lg: 4.0rem;
$spacing-sm: 3.0rem;
$transition-duration: 0.3s;
$transition-effect: ease-in-out;