// -----------------------------------------------------------------------------
// Landing page
// -----------------------------------------------------------------------------

.bio
{
  animation: slideIn 1s ease;
  color: $gray-color;

  *:first-child
  {
    margin-top: 0;
  }

  *:last-child
  {
    margin-bottom: 0;
  }
}
